<a class="collapser <%= item.get('collapsed') ? 'collapsed' : 'expanded' %>">

</a>
<a class="bullet" href="#<%= item.get('uuid') %>">
  <div></div>
</a>

<p class="title" contentEditable><%= item.escape('title') %></p>
<p class="notes" contentEditable><%= item.shortenedNotes() %></p>

<section class="indented">
</section>