<a class="collapser <%= item.get('collapsed') ? 'collapsed' : 'expanded' %>">

</a>
<a class="bullet" href="#<%= item.get('uuid') %>">
  <div><div></div></div>
</a>

<p class="title"><%= item.escape('title') %></p>
<p class="notes"><%= item.shortenedNotes() %></p>

<section class="indented">
</section>