<a class="collapser">
  <%= item.get('collapsed') ? '+' : '-' %>
</a>
<a class="bullet" href="#<%= item.get('uuid') %>"></a>

<%= item.escape('title') %>
<%= item.shortenedNotes() %>

<% if (!item.get('collapsed')) { %>
  <section class="indented">
  </section>
<% } %>