<nav>
  <%= breadcrumbs %> >
</nav>
<header>
  <h1 class="title" contentEditable><%= item.escape('title') %></h1>
  <h1 class="notes" contentEditable><%= item.escape('notes') %></h1>
</header>
<article>
</article>