<div class="star"></div>
<section class="padded">
  <nav>
    <%= breadcrumbs %> >
  </nav>
  <header>
    <p class="title" contentEditable><%= item.escape('title') %></h1>
    <p class="notes" contentEditable><%= item.escape('notes') %></h1>
  </header>
  <article>
  </article>
</section>