<li class="item">
  <a class="bullet" href="<%= item_url(item) %>"></a>
  <%= item.title %>
  <%= item.shortened_notes %>
  <section class="indented">
    <ul>
      <%= render @items_hash[item.id] %>
    </ul>
  </section>
</li>