// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indented {
  padding-left: 12px;
  border-left: 1px solid #ddd;
  margin-left: 12px;
}

.item {
  @extend .clear-group;
  margin: 10px 0;
  padding-left: 11px;

  a.collapser {
    display: block;
    float: left;
  }

  form { // deprecated?
    display: inline;

    span {
      line-height: 1;
      width: 11px;
      height: 11px;
      font-size: 11px;
    }

  }
}

.bullet {
  display: block;
  margin: 1px 3px;
  width: 0;
  height: 0;
  border: 7px solid #666;
  border-radius: 9px;
  float: left;
}